<div class="col-lg-6 text-left">
    <button class="btn btn-lg btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="btn-inner--icon"><i class="fas fa-search"></i></span>
            <span class="btn-inner--text">Filtros</span>
    </button>

    <div class="dropdown-menu w-60">
        <%= search_form_for @coleccion, url: socios_path, class: "px-4 py-3 text-center" do |formulario| %>
            <div class="form-group text-left">
                <%= label_tag(:codigo_socio_eq, "Codigo Socio:") %>
                <%= text_field_tag "q[codigo_socio_eq]", params[:q][:codigo_socio_eq], class: "form-control" %>
            </div>
            <div class="form-group text-left">
                <%= label_tag(:numero_cedula_eq, "Cedula:") %>
                <%= text_field_tag "q[numero_cedula_eq]", params[:q][:numero_cedula_eq], class: "form-control" %>
            </div>
            <div class="form-group text-left">
                <%= label_tag(:numero_telefono_eq, "Telefono:") %>
                <%= text_field_tag "q[numero_telefono_eq]", params[:q][:numero_telefono_eq], class: "form-control" %>
            </div>
            <div class="form-group text-left">
                <%= label_tag(:numero_inss_eq, "INSS:") %>
                <%= text_field_tag "q[numero_inss_eq]", params[:q][:numero_inss_eq], class: "form-control" %>
            </div>
            <%= formulario.submit class: "btn btn-primary text-center" %>
            <%= link_to "Quitar Filtros", socios_path, class: "btn btn-danger text-center" %>
        <% end %>
     </div>
</div>