<% content_for :titulo_seccion do %>
  Socios Morosos
<% end %>

<div class="container-fluid mt-3">
   <div class="row">
      <div class="col pl-0 pr-0">
         <div class="card">
            <div class="card-header">
               <h3 class="mb-0">Socios Morosos</h3>
            </div>
            <div class="table-responsive">
               <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                     <tr>
                        <th>Nombre del Socio</th>
                        <th>Pagare</th>
                        <th>Fecha de Pago</th>
                        <th>Cuota</th>
                        <th>Mora</th>
                        <th>Monto Con Mora</th>
                     </tr>
                  </thead>
                  <tbody class="list">
                    <% @registros.each do |cuota| %>
                        <tr>
                           <td><%= cuota.pagare.socio.display_name %></td>
                           <td><%= link_to cuota.pagare.numero_pagare, pagare_path(cuota.pagare.id) %></td>
                           <td><%= cuota.fecha_pago %></td>
                           <td><%= cuota.cuota %></td>
                           <td><%= cuota.calcular_mora %></td>
                           <td><%= cuota.monto_con_mora %></td>
                        </tr>
                    <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>