<% content_for :titulo_seccion do %>
  Exceden Prestamos
<% end %>

<div class="container-fluid mt-3">
   <div class="row">
      <div class="col pl-0 pr-0">
         <div class="card">
            <div class="card-header">
               <h3 class="mb-0">Socios Nuevos</h3>
            </div>
            <div class="table-responsive">
               <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                     <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Fecha Creación</th>
                     </tr>
                  </thead>
                  <tbody class="list">
                    <% @registros.each do |socio| %>
                        <tr>
                           <td><%= socio.codigo_socio %> </td>
                           <td><%= link_to socio.display_name, socio_path(socio.id) %></td>
                           <td><%= socio.created_at %></td>
                        </tr>
                    <% end %>
                  </tbody>
               </table>
            </div>
            <div class="card-footer py-4">
             <%= paginate @registros %>
             <%= page_entries_info @registros %>
            </div>
         </div>
      </div>
   </div>
</div>