<%
    indice_fila = indice
    pago_id = pago[:pago_id]
    moneda = pago[:moneda]
    monto_pagado = pago[:monto_convertido]
    monto_convertido = pago[:monto_convertido]
    referencia = pago[:referencia]
%>

<div id="template" class="row">
    <div class="form-group mb-2 col-lg-3">
        <select name="comprobante[comprobante_detalle_attributes][<%= indice_fila  %>][forma_pago_id]" class="form-control forma_pago_input" data-width="100%" disabled>
            <%= options_from_collection_for_select(FormaPago.all, :id, :nombre, pago_id) %>
        </select>
    </div>

    <div class="form-group mb-2 moneda col-lg-2">
        <input class="form-control tipo_moneda_id" type="text" value ="<%= moneda %>" readonly>
    </div>

    <div class="form-group mb-2 monto col-lg-2">
        <input type="number" value="<%= monto_pagado %>" min="0" step="0.1" name="comprobante[comprobante_detalle_attributes][<%= indice_fila %>][monto_pagado]" class="form-control monto_input" type="text" disabled>
    </div>

    <div class="form-group mb-2 monto_total col-lg-2">
        <input class="form-control monto_convertido" value="<%= monto_convertido %>" type="text" readonly>
    </div>

    <div class="form-group mb-2 concepto col-lg-2">
        <input name="comprobante[comprobante_detalle_attributes][<%= indice_fila %>][referencia]" class="form-control concepto_input" type="text" value="<% referencia %>" disabled>
    </div>

    <% if @registro.new_record? %>
        <div class="form-group mb-2 concepto col-lg-1">
            <button type="button" class="btn btn-instagram btn-icon-only rounded-circle eliminar_fila">
                <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
            </button>
        </div>
    <% end %>
</div>