<% content_for :titulo_seccion do %>
   Formas de Pago
<% end %>

<div class="col-lg-12 col-12">
   <div class="row">
      <%= render "formas_pagos/filtros" %>
      <div class="col-lg-6 text-right">
         <%= link_to "Descargar Excel", excel_index_formas_pagos_path(@params_permit), class: "btn btn-lg btn-success" %>
         <%= link_to "Crear Recurso", new_formas_pago_path, class: "btn btn-lg btn-neutral" %>
      </div>
   </div>
</div>

<div class="container-fluid mt-3">
   <div class="row">
      <div class="col pl-0 pr-0">
         <div class="card">
            <div class="card-header">
               <h3 class="mb-0">Formas de pago registradas</h3>
            </div>
            <div class="table-responsive">
               <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                     <tr>
                        <th class="sort"><%= sort_link(@coleccion, :id, "ID") %></th>
                        <th class="sort"><%= sort_link(@coleccion, :nombre, "Nombre") %></th>
                        <th class="sort"><%= sort_link(@coleccion, :tipo_moneda_id, "Moneda") %></th>
                        <th>Tipo de Pago</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                     </tr>
                  </thead>
                  <tbody class="list">
                    <% @registros.each do |forma_pago| %>
                     <tr>
                        <td><%= forma_pago.id %></td>
                        <td><%= forma_pago.nombre %></td>
                        <td><%= forma_pago.tipo_moneda.simbolo %></td>
                        <td><%= forma_pago.tipo_pago.nombre %></td>
                        <td>
                           <%= link_to edit_formas_pago_path(forma_pago), class: "btn btn-icon btn-primary" do %>
                              <i class="ni ni-align-left-2"></i>
                           <% end %>
                        </td>
                        <td>
                           <%= link_to formas_pago_path(forma_pago), class: "btn btn-icon btn-danger", method: :delete do %>
                              <i class="ni ni-scissors"></i>
                           <% end %>
                        </td>
                     </tr>
                    <% end %>
                  </tbody>
               </table>
            </div>
            <div class="card-footer py-4">
             <%= paginate @registros %>
             <%= page_entries_info @registros %>
            </div>
         </div>
      </div>
   </div>
</div>